{% extends 'base_page.html' %}

{% block container %}

    <form id="GradeForm" method="POST" action="/update_grades/">
        <input type=hidden name="GradeBook" value='ASSIGNMENTS'>

        <input type=hidden name="classid" value='{{ classes.classid }}'>

        <div class="border-bottom row">
            <table style="width: 100%">
                <tr>
                    <th style="width: 53%">Grades for Assignment : {{ assignment.assignmenttitle }}</th>
                    <th style="width: 25%">Class : {{ classes.name }}</th>
                    <th>&nbsp;</th>
                    <th class="text-right" style="width: 20%"><input class="form-control" id="SearchBox" type="text" placeholder="Search.."></th>
                </tr>
            </table>
        </div>
        <br>
        <table class="table table-hover" data-toggle="table">
        <thead class="thead-light">
        <tr>
            <th>&nbsp;</th>
            <th data-sortable="true">Student Name</th>
            <th>Email</th>
            <th data-sortable="true" class="text-center">Date Submitted</th>
            <th data-sortable="true" class="text-right">Score</th>
            <th>Comments</th>
        </tr>
        </thead>
        <tbody id="DataTable">
            {% for student in students %}
            <tr>
                <td class="text-center"><input type="radio" id="{{ assignment.assignmentid }}_{{ student.studentid }}" name="GradeID" value="{{ assignment.assignmentid }}_{{ student.studentid }}"></td>
                <td>{{ student.firstname }} &nbsp; {{ student.lastname }}</td>
                <td>{{ student.email }}</td>
                {% for gradebook in gradebooks %}
                    {% if gradebook.studentid == student.studentid %}
                        <td class="text-center">{{ gradebook.submiton.strftime('%d %b %Y') }}</td>
                        <td class="text-right">{{ gradebook.assignmentgrade }}</td>
                        <td>{{ gradebook.comments }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
        </table>
        <table cellpadding="20">
        <tr>
            <td><button type="submit"  class="btn btn-secondary"><i class="fas fa-graduation-cap"></i>&nbsp;Update Grade</button></td>
            <td><a href="http://is668grade.pythonanywhere.com/assignments" class="btn btn-secondary">Cancel</td></a>
        </tr>
        </table>
    </form>

    <script>
    $("#GradeForm").submit(function()
    {
        if (!$("input[name=GradeID]:checked").val())
        {
            return false;
        }
    });
    </script>
{% endblock %}