<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <title>My scratchboard page: log in</title>
    </head>

    <body>
         <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container">
                <div class="navbar-header">
                    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top justify-content-center">
                       <a class="navbar-brand" href="#">My scratchpad:  Name: Rajesh Selvam</a>
                       <a class="navbar-brand justify-content-center" href="#">Date: {{ timestamp.strftime("%A, %d %B %Y at %H:%M") }} </a>
                       <a class="navbar-brand justify-content-Right" href="#">Class: IS 668 Enterprise-Wide Computing </a>
                    </nav>
                </div>
                <ul class="nav navbar-nav navbar-right">
                        <li><a>Log in</a></li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <form action="." method="POST">
                    {% if error %}
                        <br>
                        <div class="alert alert-warning" role="alert">
                            Incorrect username or password
                        </div>
                    {% endif %}
                  <div class="form-group">
                      <br>
                      <br>
                    <label for="username">Username:</label>
                    <input class="form-control" id="username" name="username" placeholder="Enter your username">
                  </div>
                  <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
                  </div>
                  <button type="submit" class="btn btn-success">Log in</button>
                </form>
            </div>
        </div>
    </body>
</html>