{% extends 'base_page.html' %}

{% block container %}

    <form name="GradeForm" id="GradeForm" method="POST" action="/update_grades/">
        <input type=hidden name="GradeBook" value='STUDENTS'>
        <input type=hidden name="StudentID" value='{{ student.studentid }}'>
        <input type=hidden id="formsubmit" name="formsubmit">

        <div class="border-bottom row">
            <table style="width: 100%">
                <tr>
                    <th style="width: 9%">Student Name </th><th style="width: 1%">:</th><th style="width: 20%"> {{ student.firstname }} {{ student.lastname }}</th>
                    <th style="width: 9%">&nbsp;</th><th style="width: 1%">&nbsp;</th><th style="width: 13%">&nbsp;</th>
                    <th style="width: 25%">Class : &nbsp;
                        <select id="classid" name="classid">
                            {% for class in classes %}
                                <option value="{{ class.classid }}" {% if class.classid == classid %} selected {% endif %}>{{ class.name }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th>&nbsp;</th>
                    <th class="text-right" style="width: 20%"><input class="form-control" id="SearchBox" type="text" placeholder="Search.."></th>
                </tr>
                <tr><th>E-Mail Address</th><th>:</th><th>{{ student.email }}</th><th>Major</th><th>:</th><th>{{ student.major }}</th></tr>
                <tr><th>Total Score</th><th>:</th><th>{{ finalscore }} / {{ assignments | sum(attribute='maxscore') }}</th>
                    {% if finalGrade != '' %}
                        <th>Grade</th><th>:</th><th>{{ finalGrade }}</th>
                    {% else %}
                        <th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th>
                    {% endif %}

                </tr>
            </table>
        </div>
        <br>

        <table class="table table-hover" data-toggle="table">
        <thead class="thead-light">
        <tr>
            <th>&nbsp;</th>
            <th data-sortable="true">Title</th>
            <th data-sortable="true" class="text-center">Assigned Date</th>
            <th data-sortable="true" class="text-center">Due Date</th>
            <th class="text-right" data-sortable="true">Max Score</th>
            <th data-sortable="true" class="text-center">Date Submitted</th>
            <th data-sortable="true" class="text-right">Score</th>
            <th>Comments</th>
        </tr>
        </thead>
        <tbody id="DataTable">
            {% for assignment in assignments %}
            <tr>
                <td align=center><input type="radio" id="{{ assignment.assignmentid }}_{{ student.studentid }}" name="GradeID" value="{{ assignment.assignmentid }}_{{ student.studentid }}"></td>
                <td>{{ assignment.assignmenttitle }}</td>
                <td class="text-center">{{ assignment.dateassigned.strftime('%d %b %Y') }}</td>
                <td class="text-center">{{ assignment.duedate.strftime('%d %b %Y') }}</td>
                <td class="text-right">{{ assignment.maxscore }}</td>
                {% for gradebook in gradebooks %}
                    {% if gradebook.assignmentid == assignment.assignmentid %}
                        <td class="text-center">{{ gradebook.submiton.strftime('%d %b %Y') }}</td>
                        <td class="text-right">{{ gradebook.assignmentgrade }}</td>
                        <td>{{ gradebook.comments }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}

        </tbody>
        </table>
        <table cellpadding="20">
        <tr>
            <td><button type="submit"  class="btn btn-secondary"><i class="fas fa-graduation-cap"></i>&nbsp;Update Grade</button></td>
            <td><a href="http://is668grade.pythonanywhere.com/students" class="btn btn-secondary">Cancel</td></a>
        </tr>
        </table>
    </form>

    <script>
        $("#GradeForm").submit(function()
        {
            gradeIDValue    = $("input[name=GradeID]:checked").val()
            formSubmitValue = $('#formsubmit').val()
            if (!(typeof gradeIDValue === "undefined"))
                return true;
            else if(formSubmitValue == "X")
            {
                $('#formsubmit').val('');
                return true;
            }
            else
                return false;
        });
        $( "select" ).change(function ()
        {
            event.preventDefault()
            $('#formsubmit').val('X');
            $('#GradeForm').attr('method', 'POST');
            $('#GradeForm').attr('action', '/grade_student/');
            $('#GradeForm').submit();
        }).change();
    </script>

{% endblock %}