
{% extends 'base_page.html' %}

{% block container %}

<div class="container">

  <div class="pb-2 mt-4 mb-2 border-bottom">
    <h4>Update Student Grade</h4>
  </div>

  <form action="{{ url_for('save_grades') }}" method = "post" class="was-validated">
    <input type=hidden name="GradeType"     value="{{ gradetype }}">
    <input type=hidden name="StudentID"     value="{{ student.studentid }}">
    <input type=hidden name="AssignmentID"  value="{{ assignment.assignmentid }}">
    <input type=hidden name="classid"       value="{{ classes.classid }}">
    {% if gradebook is defined %}
        <input type=hidden name="GradeID"  value="{{ gradebook.id }}">
    {% endif %}

    <div class="form-group row">
        <label for="studentname" class="col-sm-2 col-form-label">Student Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control-plaintext" readonly id="studentname" name="duedate" value="{{ student.firstname }} {{ student.lastname }}">
        </div>
    </div>

    <div class="form-group row">
        <label for="classname" class="col-sm-2 col-form-label">Class Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control-plaintext" readonly id="classname" name="classname" value="{{ classes.name }}">
        </div>
    </div>

    <div class="form-group row">
        <label for="title" class="col-sm-2 col-form-label">Assignment Title</label>
        <div class="col-sm-10">
            <input type="text" class="form-control-plaintext" readonly id="title" name="title" value="{{ assignment.assignmenttitle }}">
        </div>
    </div>

    <div class="form-group row">
        <label for="assigndate" class="col-sm-2 col-form-label">Assigned On</label>
        <div class="col-sm-10">
            <input type="text" class="form-control-plaintext" readonly id="assigndate" name="assigndate" value="{{ assignment.dateassigned.strftime('%d %b %Y') }}">
        </div>
    </div>

    <div class="form-group row">
        <label for="duedate" class="col-sm-2 col-form-label">Due Date</label>
        <div class="col-sm-10">
            <input type="text" class="form-control-plaintext" readonly id="duedate" name="duedate" value="{{ assignment.duedate.strftime('%d %b %Y') }}">
        </div>
    </div>

    <div class="form-group row">
        <label for="maxscore" class="col-sm-2 col-form-label">Maximum Score</label>
        <div class="col-sm-10">
            <input type="text" class="form-control-plaintext" readonly id="maxscore" name="maxscore" value="{{ assignment.maxscore }}">
        </div>
    </div>

    <div class="form-group row">
        <label for="submiton" class="col-sm-2 col-form-label">Submitted On</label>
        <div class="col-sm-10">
            <input type="date" id="submiton" name="submiton" {% if gradebook is defined %} value="{{ gradebook.submiton }}" {% endif %}>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>
    </div>

    <div class="form-group row">
        <label for="actscore" class="col-sm-2 col-form-label">Achieved Score</label>
        <div class="col-sm-10">
            <input type="number" id="actscore" name="actscore" {% if gradebook is defined %} value="{{ gradebook.assignmentgrade }}" {% endif %} min="0" max="{{ assignment.maxscore }}" step="0.01" class="text-right">
        </div>
    </div>

    <div class="form-group row">
        <label for="comments" class="col-sm-2 col-form-label">Comments</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="comments" name="comments" rows="3" wrap="hard">{% if gradebook is defined %}{{ gradebook.comments }}{% endif %}</textarea>
        </div>
    </div>

    <button type="submit" class="btn btn-secondary">Save</button>
  </form>
</div>
{% endblock %}